<!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">
                        Languages, libraries, and other tools
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <!-- Original icon and descriptor combination
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                -->
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">HTML</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-css3 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">CSS</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa icon-javascript-alt fa-stack-1x fa-inverse" style="padding-left: 10px"></i>
                    </span>
                    <h4 class="service-heading">JavaScript</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa icon-php-alt fa-stack-1x fa-inverse" style="padding-top: 8px; padding-left: 12px"></i>
                    </span>
                    <h4 class="service-heading">PHP</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa icon-python fa-stack-1x fa-inverse" style="padding-top: 6px; padding-left: 12px"></i>
                    </span>
                    <h4 class="service-heading">Python</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa icon-elixir fa-stack-1x fa-inverse" ></i>
                    </span>
                    <h4 class="service-heading">Elixir</h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa icon-shell fa-stack-1x fa-inverse" style="padding-top: 3px"></i>
                    </span>
                    <h4 class="service-heading">Vim</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa icon-mysql fa-stack-1x fa-inverse" ></i>
                    </span>
                    <h4 class="service-heading">MySQL</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-git fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Git</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Markdown</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wordpress fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">WordPress</h4>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa icon-ruby fa-stack-1x fa-inverse" ></i>
                    </span>
                    <h4 class="service-heading">Jekyll</h4>
                </div>
            </div>
        </div>
    </section>